<Configuration packages="com.github.robtimus.junit.support.extension.util">
  <Appenders>
    <Log4jTest name="A1" />
    <Log4jTest name="A2" />
    <Log4jTest name="A3" />
  </Appenders>

  <Loggers>
    <Root level="warn">
      <AppenderRef ref="A1" />
    </Root>

    <Logger name="com.github.robtimus.junit.support.extension.testlogger.TestLogger" level="info">
      <AppenderRef ref="A2" />
    </Logger>

    <Logger name="com.github.robtimus.junit.support.extension.testlogger.TestLogger.disabled" level="info">
      <AppenderRef ref="A3" />
    </Logger>
  </Loggers>
</Configuration>
