<configuration>
  <appender name="A1" class="com.github.robtimus.junit.support.extension.util.LogbackTestAppender" />
  <appender name="A2" class="com.github.robtimus.junit.support.extension.util.LogbackTestAppender" />

  <root level="warn">
    <appender-ref ref="A1" />
  </root>

  <logger name="com.github.robtimus.junit.support.extension.testlogger.TestLogger" level="info">
    <appender-ref ref="A2" />
  </logger>
</configuration>
